<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="defaultPathTemplate" value="C:\Users\spung\repos\simc-profiles\covenants\Templates" />
    <add key="defaultPathProfile" value="C:\Users\spung\repos\simc-profiles\covenants\Profiles" />
    <add key="defaultPathResult" value="C:\Users\spung\repos\simc-profiles\covenants\Results" />
  </appSettings>
</configuration>